
<div class="container">
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
    </div>
    <button id="welcome" type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">
        welcome
    </button>

  </div>

<div id="myModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Welcome to the BOGdega</h3>
      </div>
      <div class="modal-body">
        <p>
          We here at the BOGdega are passionate about the complex ecosystem found in bogs, swamps, and wetlands. We hope you are too. BOGdega was created for you to upload and share your wetland finds with like minded people. Simpliy go to the BOGlog and look at the content that has been loaded by other enthusiast and upload any important finds you want to share.
        </p>
        <h5>Have fun!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>