body {
  background-image: url(http://i.imgur.com/1Unju0D.jpg);
  color: #F6F6F6;
  font-family: 'Oxygen', sans-serif;
}
 .navbar{
  background-color: rgba(25, 25, 25, .85);
  border: none;
  color: #F6F6F6;
  font-size: 16px;
}
a{
  color: #F6F6F6;
  margin: 0px 10px 0px 0px;
}
.modal{
  background-color: rgba(25, 25, 25, .7);
  color: #F6F6F6;
}
#welcome{
  position: absolute;
  margin-top: 20%;
  float: none;
  background-color: rgba(25, 25, 25, .7);
  color: #F6F6F6;
}
#myModal{
  background-color: rgba(25, 25, 25, .85);
  color: black;
}
.well{
  background-color: rgba(25, 25, 25, .7);
  border: none;
}
